<% layout("/layouts/boilerplate") %>

    <style>
        .filters {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .filter {
            text-align: center;
            opacity: 0.7;
            margin-right: 2.25rem;
            margin-top: 1.5rem;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }
        .tax-toggle{
            /* border: 1px solid gray; */
            border-radius: 1rem;
            padding: 0.7rem;
            height:3rem;
            background-color: #fe4244;
            color:whitesmoke
        }
        .tax-toggle:hover{
            box-shadow: 2px 2px 2px gainsboro;
        }
        .tax-toggle-btn:hover{
            cursor: pointer;
            font-weight: 300;
        }
    </style>

    <body>

        <div class="filters">
            <div class=" filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class=" filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>
            <div class=" filter">
                <div><i class="fa-solid fa-mountain-city"></i></i></div>
                <p>Iconic cities</p>
            </div>
            <div class=" filter">
                <div><i class="fa-solid fa-mountain"></i></i></div>
                <p>Mountains</p>
            </div>
            <div class=" filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>
            <div class=" filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing pools</p>
            </div>
            <div class=" filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div>
            <div class=" filter">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </div>
            <div class=" filter">
                <div><i class="fa-regular fa-snowflake"></i></div>
                <p>Artic</p>
            </div>
            <div class=" filter">
                <div><i class="fa-brands fa-medapps"></i></div>
                <p>Services</p>
            </div>

            <div class="tax-toggle">
                <div class="form-check form-switch form-check-reverse ">
                    <input class="form-check-input" type="checkbox" id="switchCheckReverse">
                    <label class="form-check-label tax-toggle-btn" for="switchCheckReverse">Display total after taxes</label>
                </div>
            </div>

        </div>
        <div class="row row-cols-3 mt-1">
            <% for(list of lists) { %>

                <div class="card  col mb-3 me-2 index-listing" style="width: 20rem; ">
                    <a class="anchor" href='/listings/<%=list.id%>'>
                        <img src="<%=list.image.url%>" class="card-img-top index-img" alt="listing">
                        <div class="card-body index-page">
                            <p class="card-text">
                                <b>
                                    <%=list.title%>
                                </b><br>
                                &#8377; <%=list.price.toLocaleString("en-IN")%> /night
                                <i class="index-toggle">&nbsp; +18% GST</i>
                            </p>
                        </div>
                    </a>
                </div>

                <% } %>
        </div>
        <br>

    </body>

    <script>
        let taxSwitch = document.querySelector('#switchCheckReverse');
        taxSwitch.addEventListener("click", () => {
            let gst=document.querySelectorAll(".index-toggle");
            for(i of gst){
                if(i.style.display!="inline"){
                    i.style.display="inline";
                }
                else{
                    i.style.display="none";
                }
            }
        });
    </script>
